.actives{
    
    opacity:1;
    transition: all 0.3s ease-in-out; 
    scale: 1;
    padding: 5%;
    padding-top: 80px;

}
.actives ul{
    padding: 5%;
}
.actives ol{
    padding: 5%;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none ;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}