*{
    margin:0;
    padding: 0
}
@font-face {
    font-family: 'akzidenz-grotesk_bqcondensed';
    src: url('./fonts/akzidenzgrotesk-cond-webfont.woff2') format('woff2'),
         url('./fonts/akzidenzgrotesk-cond-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
    font-family: 'akzidenz-grotesk_bqLtCn';
    src: url('./fonts/akzidenzgrotesk-lightcond-webfont.woff2') format('woff2'),
    url('./fonts/akzidenzgrotesk-lightcond-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
    font-family: 'Berthold Akzidenz Grotesk BE';
    src: url('./fonts/AkzidenzGroteskBE-Regular.woff2') format('woff2'),
        url('./fonts/AkzidenzGroteskBE-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Akzidenz-Grotesk BQ';
    src: url('./fonts/AkzidenzGroteskBQ-Light.woff2') format('woff2'),
        url('./fonts/AkzidenzGroteskBQ-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
html {
    
   
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
  
    scroll-behavior: smooth;
  }
/* burguer menu  */
.row .three{
    padding: 80px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
  }
  
  .hamburger .line{
    width: 50px;
    height: 5px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger:hover{
    cursor: pointer;
  }
  
#hamburger-6.is-active{
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  } 
  #hamburger-6.is-active .line:nth-child(2){
    width: 0px;
  }  
  #hamburger-6.is-active .line:nth-child(1),
  #hamburger-6.is-active .line:nth-child(3){
    -webkit-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }  
  #hamburger-6.is-active .line:nth-child(1){
    -webkit-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
    transform: translateY(13px);
  } 
  #hamburger-6.is-active .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(90deg);
    -ms-transform: translateY(-13px) rotate(90deg);
    -o-transform: translateY(-13px) rotate(90deg);
    transform: translateY(-13px) rotate(90deg);
  } 

  .cf:before,
  .cf:after {
      content: " ";
      display: table;
  }
  
  .cf:after {
      clear: both;
  }
  
  .cf {
      *zoom: 1;
  }
/*  */

nav{
    position: fixed;
    background-color: #25408cd8;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center ;
    padding-top: 100px;
    left: -100vw;
    transition: 0.5s ease-out;
}

.nav-active{
    left: 0;
    z-index: 1;
}
nav ul{
    display: flex;
    flex-direction: column;
    
}
.bur{
    -webkit-backdrop-filter: blur(4px);
}
a{
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    font-family:'Berthold Akzidenz Grotesk BE';
}
nav ul a{
   
    color: #f5f5f7;
}
.fondo{
    width: 100vw;
    background-image: url('Asset 4.png');
    background-color: #25418C;
    
}
.hide{
    display: none;
}
.fondo2{
    width: 100vw ;
    background-image: url('eljuego.png');
    background-color: #6EC6B7;
}
.fondo3{
    background-image: url('ydespues.png');
    background-color: #E46B4A;
    width: 100vw;
}
.Logo{
    width: 100%;
    max-width: 400px;
}
.title{
    font-family: 'akzidenz-grotesk_bqcondensed';
    font-style: italic;
    position: absolute;
    padding: 15px;  
    font-size: 20px;
    background-color: #21242769;
    color: #f5f5f7; 
    width: 250px;
    border-radius: 10px 0 0 10px;
    right: 0;
    margin-top: 65px;
}
h1{
   
    font-size: 27px;
    color: #f5f5f7;
    text-shadow:  0 2px 5px #21242741 ;
    font-family: 'akzidenz-grotesk_bqLtCn' ;
}   
p{
    font-size: 20px;
    font-family: 'Akzidenz-Grotesk BQ';
    line-height:   22pt;
    color: #f5f5f7;
    text-shadow: 0 2 5px #21242767;
}
li{
    font-family: 'Akzidenz-Grotesk BQ';
    font-size: 20px;
    line-height: 22pt;
    text-shadow: 0 2 5px #21242767;
    color: #f5f5f7;
}
#porque{
    padding: 5%;
   
}

#elJuego{
   
}
#yDespues{
    padding: 5%
}
.porqueButton{
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    background-color: #f5f5f74f;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.articles{
    overflow-y: scroll;
    padding: 5%;
}

.porqueArticle{
    max-height: 0px;
    transition: all 0.3s ease-in-out;;
}
.porqueArticle::-webkit-scrollbar {
    display: none ;
}

/* Hide scrollbar for IE, Edge and Firefox */
.porqueArticle {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.porqueButtonActive{
    transition: all 0.3s ease-in-out;
   
    transform: rotate(45deg);
}
.porqueArticle-active{
    display: block;
    transition: all 0.3s ease-in-out;
     overflow-y: scroll;
    max-height: 2000px;
    right: 0;
    left: 0;
    margin: 0;
    margin-bottom: 146px;
}
.porqueArticle ul {
    
    width: 90%;
    padding-left: 10%;
}
.carrousel{
        overflow: hidden;
        cursor: grab;
}
.itemFondo2{
    min-width: 90%;
    padding: 5%;
    overflow-y: scroll;
    
    scroll-snap-align: start;
}
#porqueActive{
    padding: 5%
}

.articleJuego{

    scroll-snap-type: x mandatory;
   max-height: 0vh;
    overflow-x: scroll;
    display: flex;
   
}
.example::-webkit-scrollbar {
    display: none ;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.articleJuego p{
    margin-top: 40px;
    font-weight: 100;
    
}
.puntito{
    border: solid #f5f5f7;
    box-shadow: 0px 2 px 2px rgba(0, 0, 0, 0.15);
    width: 5px;
    height: 5px;
    border-radius: 10px;
}
.seleccionado{
    background-color: #F5F5F7;
}
#ydespues p{
    margin-top: 50px;
}
#circulo{
    margin-top: 30px ;
    margin-bottom: 30px;
    width: 282px;
    height: 282px;
    border-radius: 50%;
    background-color: #F5F5F7;
  
    
    left:-30px
}
#circulo ul{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    padding-left: 40px;

}
#circulo ul a{
    font-family: 'Berthold Akzidenz Grotesk BE';
    font-size: 20px;
    color: #E46B4A;
}

